import { defineConfig } from 'eslint/config';
import { createEslintConfigBrowserTypescriptReact, createEslintConfigIgnoresRoot, createEslintConfigIgnores } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintConfigIgnores(), createEslintConfigBrowserTypescriptReact(), createEslintConfigIgnoresRoot()]);
