import { defineConfig } from 'eslint/config';
import { createEslintConfigBrowserTypescript, createEslintConfigIgnoresRoot, createEslintConfigIgnores } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintConfigIgnores(), createEslintConfigBrowserTypescript(), createEslintConfigIgnoresRoot()]);
