import { createEslintConfigBrowserTypescriptReact, createEslintOverridesForConfigs, createEslintIgnorePatterns } from '@premierstacks/eslint-stack';

export default [...createEslintIgnorePatterns(), ...createEslintConfigBrowserTypescriptReact(), ...createEslintOverridesForConfigs()];
