import { createEslintConfigBrowserTypescript, createEslintOverridesForConfigs, createEslintIgnorePatterns } from '@premierstacks/eslint-stack';

export default [...createEslintIgnorePatterns(), ...createEslintConfigBrowserTypescript(), ...createEslintOverridesForConfigs()];
