import { defineConfig } from 'eslint/config';
import { createEslintConfigBrowserTypescriptReact, createEslintOverridesForConfigs, createEslintIgnorePatterns } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintIgnorePatterns(), createEslintConfigBrowserTypescriptReact(), createEslintOverridesForConfigs()]);
