import { defineConfig } from 'eslint/config';
import { createEslintConfigBrowserTypescript, createEslintOverridesForConfigs, createEslintIgnorePatterns } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintIgnorePatterns(), createEslintConfigBrowserTypescript(), createEslintOverridesForConfigs()]);
