import { defineConfig } from 'eslint/config';
import { createEslintOverridesForConfigs, createEslintIgnorePatterns, createEslintConfigNode } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintIgnorePatterns(), createEslintConfigNode(), createEslintOverridesForConfigs()]);
