import { defineConfig } from 'eslint/config';
import { createEslintOverridesForConfigs, createEslintIgnorePatterns, createEslintConfigNodeTypescript } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintIgnorePatterns(), createEslintConfigNodeTypescript(), createEslintOverridesForConfigs()]);
