import { defineConfig } from 'eslint/config';
import { createEslintConfigIgnoresRoot, createEslintConfigIgnores, createEslintConfigNodeTypescript } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintConfigIgnores(), createEslintConfigNodeTypescript(), createEslintConfigIgnoresRoot()]);
