import { createEslintOverridesForConfigs, createEslintIgnorePatterns, createEslintConfigNode } from '@premierstacks/eslint-stack';

export default [...createEslintIgnorePatterns(), ...createEslintConfigNode(), ...createEslintOverridesForConfigs()];
