import { defineConfig } from 'eslint/config';
import { createEslintConfigIgnoresRoot, createEslintConfigIgnores, createEslintConfigNode } from '@premierstacks/eslint-stack';

export default defineConfig([createEslintConfigIgnores(), createEslintConfigNode(), createEslintConfigIgnoresRoot()]);
